* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  position: absolute;
  width: 100%;
}

#search-box {
  left: 30%;
  height: 100px;
  position: absolute;
  right: 30%;
  width: 40%;
  background-color: #ccc;
  top: 10%;
  font-size: 75px;
  text-align: centre;
}

ul {
  padding: 0;
}

#anagram-container {
  left: 30%;
  position: absolute;
  right: 30%;
  width: 40%;
  top: calc(10% + 150px);
  font-size: 30px;
}

.anagram {
  border-bottom: 1px solid #ccc;
  padding: 0;
  list-style-type: none;
  text-align: center;
}